.custom-button {
    background-color: #f3742f;
    border-color: #f3742f;
    color: white;
  }
  
  .custom-button:hover {
    background-color: #e5651b;
    border-color: #e5651b;
    color: white;
  }