.footer {
    width: 100%;
    min-width: 1400px;
}

.footer .footer-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
    align-items: center;
}

.footer-payment .payment-methods {
    height: 70px;
    display: flex;
    align-items: center;
}

.footer-payment .payment-methods .icons-img {
    width: 38px;
    margin-right: 1rem;
}

.footer-social .social-icons .social-logos {
    width: 38px;
    margin-right: 1rem;
}

.footer-social .social-icons .youtube-logo {
    width: 70px;
}

